<!DOCTYPE html>
<html>
<head>
    <title>Resultado del Proceso</title>
</head>
<body>
    <h1>Resultado del Proceso</h1>
    <p><strong>Mensaje 1:</strong> <span id="mensaje1"></span></p>
    <p><strong>Cadena Invertida:</strong> <span id="cadenaInvertida"></span></p>
    <p><strong>Mensaje 2:</strong> <span id="mensaje2"></span></p>
    <p><a href="/procesoString">Volver</a></p>
    
    <script>

        document.getElementById("mensaje1").innerText = "la cadena tiene 20 caracteres y 8 vocales";
        document.getElementById("cadenaInvertida").innerText = "edatrevni adnatsrednoc";
        document.getElementById("mensaje2").innerText = "la cadena tiene 5 palabras";
    </script>
</body>
</html>
